In [51]:
import pandas as pd
import tabulate

In [52]:
# The path to our CSV files
schoolscsv = "schools_complete.csv"
studentscsv = "students_complete.csv"

# Read our csvfiles data into pandas
schools_df = pd.read_csv(schoolscsv)
students_df = pd.read_csv(studentscsv)

In [53]:
schools_df.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [54]:
students_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [55]:
schools_df = schools_df.rename(columns={"name": "School Name"})

In [56]:
students_df = students_df.rename(columns={"school": "School Name"})

In [57]:
school_district = pd.merge(
    students_df, schools_df, on="School Name", suffixes=("_stu", "_sch"))

In [58]:
school_district.head()

,Student ID,name,gender,grade,School Name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [59]:
del school_district["size"]

In [60]:
budget = schools_df["budget"].sum()
budget

24649428

In [61]:
studentscount = students_df["Student ID"].count()
studentscount

39170

In [62]:
schoolscount = schools_df["School ID"].count()
schoolscount

15

In [63]:
math_mean = students_df["math_score"].mean()
math_mean

78.98537145774827

In [64]:
reading_mean = students_df["reading_score"].mean()
reading_mean

81.87784018381414

In [65]:
district_math = students_df.loc[students_df["math_score"] > 70,:]
students_df.loc[students_df["math_score"] > 70,:]["math_score"].count()

28356

In [66]:
district_reading = students_df.loc[students_df["reading_score"] > 70,:]["reading_score"].count()
students_df.loc[students_df["reading_score"] > 70,:]["reading_score"].count()

32500

In [67]:
district_math.head()

,Student ID,name,gender,grade,School Name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87

In [68]:
district_math["math_score"].count()

28356

In [69]:
students_df["Student ID"].count()

39170

In [70]:
math_passing = round((district_math["math_score"].count()/students_df["Student ID"].count())*100,2)
math_passing

72.39

In [71]:
reading_passing = round((district_reading/students_df["Student ID"].count())*100,2)
reading_passing

82.97

In [72]:
overall_rate = (math_passing+reading_passing)/2
overall_rate

77.68

In [73]:
districtsummary_df = pd.DataFrame({
    "Total Schools": schoolscount,
    "Total Students": studentscount,
    "Total Budget": budget,
    "Average Math Score": math_mean,
    "Average Reading Score": reading_mean,
    "% Passing Math": math_passing,
    "% Passing Reading": reading_passing,
    "Overall Passing Rate": overall_rate
}, index=[0])
districtsummary_df
districtsummary_df["Total Budget"] = districtsummary_df["Total Budget"].map("${:,.2f}".format)
districtsummary_df["Total Students"] = districtsummary_df["Total Students"].map("{:,}".format)

In [74]:
reorg_districtsummary = districtsummary_df[["Total Schools","Total Students","Total Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","Overall Passing Rate"]]
reorg_districtsummary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,72.39,82.97,77.68

In [38]:
#print(tabulate.tabulate(reorg_districtsummary, tablefmt='grid', showindex=True))

+---+----+--------+----------------+---------+---------+-------+-------+-------+
| 0 | 15 | 39,170 | $24,649,428.00 | 78.9854 | 81.8778 | 72.39 | 82.97 | 77.68 |
+---+----+--------+----------------+---------+---------+-------+-------+-------+

In [75]:
schoolgrp = school_district.groupby(["School Name"],as_index=False)
#schoolgrp.reset_index()
#schoolgrp["reading_score","math_score"].mean()
#type(schoolgrp)
#schoolgrp.columns
#schoolgrp1 = school_district.groupby(["School Name"]).agg({"math_score" >65: 'count'})

In [76]:
school_mean = pd.merge(schools_df, schoolgrp.mean(), on=['School Name'], suffixes=('_Sch','_scgrp'))
school_mean

,School ID_Sch,School Name,type,size,budget_Sch,Student ID,reading_score,math_score,School ID_scgrp,budget_scgrp
0,0,Huang High School,District,2917,1910635,1458.0,81.182722,76.629414,0.0,1910635.0
1,1,Figueroa High School,District,2949,1884411,4391.0,81.158020,76.711767,1.0,1884411.0
2,2,Shelton High School,Charter,1761,1056600,6746.0,83.725724,83.359455,2.0,1056600.0
3,3,Hernandez High School,District,4635,3022020,9944.0,80.934412,77.289752,3.0,3022020.0
4,4,Griffin High School,Charter,1468,917500,12995.5,83.816757,83.351499,4.0,917500.0
5,5,Wilson High School,Charter,2283,1319574,14871.0,83.989488,83.274201,5.0,1319574.0
6,6,Cabrera High School,Charter,1858,1081356,16941.5,83.975780,83.061895,6.0,1081356.0
7,7,Bailey High School,District,4976,3124928,20358.5,81.033963,77.048432,7.0,3124928.0
8,8,Holden High School,Charter,427,248087,23060.0,83.814988,83.803279,8.0,248087.0
9,9,Pena High School,Charter,962,585858,23754.5,84.044699,83.839917,9.0,585858.0
10,10,Wright High School,Charter,1800,1049400,25135.5,83.955000,83.682222,10.0,1049400.0
11,11,Rodriguez High School,District,3999,2547363,28035.0,80.744686,76.842711,11.0,2547363.0
12,12,Johnson High School,District,4761,3094650,32415.0,80.966394,77.072464,12.0,3094650.0
13,13,Ford High School,District,2739,1763916,36165.0,80.746258,77.102592,13.0,1763916.0
14,14,Thomas High School,Charter,1635,1043130,38352.0,83.848930,83.418349,14.0,1043130.0

In [81]:
#del school_mean["reading_score_Sch"]
del school_mean["School ID_scgrp"]

In [77]:
del school_mean["School ID_Sch"]

In [78]:
del school_mean["budget_scgrp"]

In [79]:
del school_mean["Student ID"]

In [82]:
school_mean.head()

,School Name,type,size,budget_Sch,reading_score,math_score
0,Huang High School,District,2917,1910635,81.182722,76.629414
1,Figueroa High School,District,2949,1884411,81.158020,76.711767
2,Shelton High School,Charter,1761,1056600,83.725724,83.359455
3,Hernandez High School,District,4635,3022020,80.934412,77.289752
4,Griffin High School,Charter,1468,917500,83.816757,83.351499

In [83]:
school_mean = school_mean.rename(columns={"size": "Total Students","budget_Sch": "Total Budget","reading_score": "Average Reading Score","math_score": "Average Math Score"})
school_mean

,School Name,type,Total Students,Total Budget,Average Reading Score,Average Math Score
0,Huang High School,District,2917,1910635,81.182722,76.629414
1,Figueroa High School,District,2949,1884411,81.158020,76.711767
2,Shelton High School,Charter,1761,1056600,83.725724,83.359455
3,Hernandez High School,District,4635,3022020,80.934412,77.289752
4,Griffin High School,Charter,1468,917500,83.816757,83.351499
5,Wilson High School,Charter,2283,1319574,83.989488,83.274201
6,Cabrera High School,Charter,1858,1081356,83.975780,83.061895
7,Bailey High School,District,4976,3124928,81.033963,77.048432
8,Holden High School,Charter,427,248087,83.814988,83.803279
9,Pena High School,Charter,962,585858,84.044699,83.839917
10,Wright High School,Charter,1800,1049400,83.955000,83.682222
11,Rodriguez High School,District,3999,2547363,80.744686,76.842711
12,Johnson High School,District,4761,3094650,80.966394,77.072464
13,Ford High School,District,2739,1763916,80.746258,77.102592
14,Thomas High School,Charter,1635,1043130,83.848930,83.418349

In [84]:
school_mean["Per Student Budget"] = school_mean["Total Budget"]/school_mean["Total Students"]
school_mean

,School Name,type,Total Students,Total Budget,Average Reading Score,Average Math Score,Per Student Budget
0,Huang High School,District,2917,1910635,81.182722,76.629414,655.0
1,Figueroa High School,District,2949,1884411,81.158020,76.711767,639.0
2,Shelton High School,Charter,1761,1056600,83.725724,83.359455,600.0
3,Hernandez High School,District,4635,3022020,80.934412,77.289752,652.0
4,Griffin High School,Charter,1468,917500,83.816757,83.351499,625.0
5,Wilson High School,Charter,2283,1319574,83.989488,83.274201,578.0
6,Cabrera High School,Charter,1858,1081356,83.975780,83.061895,582.0
7,Bailey High School,District,4976,3124928,81.033963,77.048432,628.0
8,Holden High School,Charter,427,248087,83.814988,83.803279,581.0
9,Pena High School,Charter,962,585858,84.044699,83.839917,609.0
10,Wright High School,Charter,1800,1049400,83.955000,83.682222,583.0
11,Rodriguez High School,District,3999,2547363,80.744686,76.842711,637.0
12,Johnson High School,District,4761,3094650,80.966394,77.072464,650.0
13,Ford High School,District,2739,1763916,80.746258,77.102592,644.0
14,Thomas High School,Charter,1635,1043130,83.848930,83.418349,638.0

In [132]:
#del school_mean["School ID_Sch"]

In [85]:
school_mean1 = pd.DataFrame(school_mean.set_index('School Name'))
school_mean

,School Name,type,Total Students,Total Budget,Average Reading Score,Average Math Score,Per Student Budget
0,Huang High School,District,2917,1910635,81.182722,76.629414,655.0
1,Figueroa High School,District,2949,1884411,81.158020,76.711767,639.0
2,Shelton High School,Charter,1761,1056600,83.725724,83.359455,600.0
3,Hernandez High School,District,4635,3022020,80.934412,77.289752,652.0
4,Griffin High School,Charter,1468,917500,83.816757,83.351499,625.0
5,Wilson High School,Charter,2283,1319574,83.989488,83.274201,578.0
6,Cabrera High School,Charter,1858,1081356,83.975780,83.061895,582.0
7,Bailey High School,District,4976,3124928,81.033963,77.048432,628.0
8,Holden High School,Charter,427,248087,83.814988,83.803279,581.0
9,Pena High School,Charter,962,585858,84.044699,83.839917,609.0
10,Wright High School,Charter,1800,1049400,83.955000,83.682222,583.0
11,Rodriguez High School,District,3999,2547363,80.744686,76.842711,637.0
12,Johnson High School,District,4761,3094650,80.966394,77.072464,650.0
13,Ford High School,District,2739,1763916,80.746258,77.102592,644.0
14,Thomas High School,Charter,1635,1043130,83.848930,83.418349,638.0

In [86]:
school_mean1

,type,Total Students,Total Budget,Average Reading Score,Average Math Score,Per Student Budget
School Name,,,,,,
Huang High School,District,2917,1910635,81.182722,76.629414,655.0
Figueroa High School,District,2949,1884411,81.158020,76.711767,639.0
Shelton High School,Charter,1761,1056600,83.725724,83.359455,600.0
Hernandez High School,District,4635,3022020,80.934412,77.289752,652.0
Griffin High School,Charter,1468,917500,83.816757,83.351499,625.0
Wilson High School,Charter,2283,1319574,83.989488,83.274201,578.0
Cabrera High School,Charter,1858,1081356,83.975780,83.061895,582.0
Bailey High School,District,4976,3124928,81.033963,77.048432,628.0
Holden High School,Charter,427,248087,83.814988,83.803279,581.0
Pena High School,Charter,962,585858,84.044699,83.839917,609.0
Wright High School,Charter,1800,1049400,83.955000,83.682222,583.0
Rodriguez High School,District,3999,2547363,80.744686,76.842711,637.0
Johnson High School,District,4761,3094650,80.966394,77.072464,650.0
Ford High School,District,2739,1763916,80.746258,77.102592,644.0
Thomas High School,Charter,1635,1043130,83.848930,83.418349,638.0

In [87]:
pass_reading_df = students_df.loc[students_df["reading_score"] > 70,:]
pass_reading_df.head()

,Student ID,name,gender,grade,School Name,reading_score,math_score
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80

In [88]:
reading_passed_grp = pass_reading_df.groupby("School Name")
reading_passed_grp["Student ID"].count()

School Name
Bailey High School       3946
Cabrera High School      1744
Figueroa High School     2313
Ford High School         2123
Griffin High School      1371
Hernandez High School    3624
Holden High School        396
Huang High School        2299
Johnson High School      3727
Pena High School          887
Rodriguez High School    3109
Shelton High School      1631
Thomas High School       1519
Wilson High School       2129
Wright High School       1682
Name: Student ID, dtype: int64

In [89]:
reading_passed_grp["Student ID"].count()/school_mean1["Total Students"]

School Name
Bailey High School       0.793006
Cabrera High School      0.938644
Figueroa High School     0.784334
Ford High School         0.775100
Griffin High School      0.933924
Hernandez High School    0.781877
Holden High School       0.927400
Huang High School        0.788138
Johnson High School      0.782819
Pena High School         0.922037
Rodriguez High School    0.777444
Shelton High School      0.926178
Thomas High School       0.929052
Wilson High School       0.932545
Wright High School       0.934444
dtype: float64

In [90]:
pass_math_df = students_df.loc[students_df["math_score"] > 70,:]
math_passed_grp = pass_math_df.groupby("School Name")
math_passed_grp["Student ID"].count()

School Name
Bailey High School       3216
Cabrera High School      1664
Figueroa High School     1880
Ford High School         1801
Griffin High School      1317
Hernandez High School    3001
Holden High School        387
Huang High School        1847
Johnson High School      3040
Pena High School          882
Rodriguez High School    2562
Shelton High School      1583
Thomas High School       1475
Wilson High School       2076
Wright High School       1625
Name: Student ID, dtype: int64

In [91]:
math_passed_grp["Student ID"].count()/school_mean1["Total Students"]

School Name
Bailey High School       0.646302
Cabrera High School      0.895587
Figueroa High School     0.637504
Ford High School         0.657539
Griffin High School      0.897139
Hernandez High School    0.647465
Holden High School       0.906323
Huang High School        0.633185
Johnson High School      0.638521
Pena High School         0.916840
Rodriguez High School    0.640660
Shelton High School      0.898921
Thomas High School       0.902141
Wilson High School       0.909330
Wright High School       0.902778
dtype: float64

In [92]:
school_mean1["% Passing Math"] = round((math_passed_grp["Student ID"].count()/school_mean1["Total Students"])*100,2)
school_mean1["% Passing Reading"] = round((reading_passed_grp["Student ID"].count()/school_mean1["Total Students"])*100,2)
school_mean1["% Overall Passing Rate"] = round((school_mean1["% Passing Math"] + school_mean1["% Passing Reading"])/2,2)
school_mean1 = school_mean1.rename(columns={"type": "School Type", "Total Budget": "Total School Budget"})
school_mean1.head()

,School Type,Total Students,Total School Budget,Average Reading Score,Average Math Score,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Huang High School,District,2917,1910635,81.182722,76.629414,655.0,63.32,78.81,71.06
Figueroa High School,District,2949,1884411,81.158020,76.711767,639.0,63.75,78.43,71.09
Shelton High School,Charter,1761,1056600,83.725724,83.359455,600.0,89.89,92.62,91.26
Hernandez High School,District,4635,3022020,80.934412,77.289752,652.0,64.75,78.19,71.47
Griffin High School,Charter,1468,917500,83.816757,83.351499,625.0,89.71,93.39,91.55

In [93]:
reorg_schoolsummary = school_mean1[["School Type","Total Students","Total School Budget","Per Student Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]]
reorg_schoolsummary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,63.32,78.81,71.06
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,63.75,78.43,71.09
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,89.89,92.62,91.26
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,64.75,78.19,71.47
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,89.71,93.39,91.55

In [94]:
reset_reorg = reorg_schoolsummary.reset_index()
reset_reorg1 = reset_reorg.sort_values("School Name")
reset_reorg1.set_index("School Name")

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,64.63,79.30,71.96
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,89.56,93.86,91.71
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,63.75,78.43,71.09
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,65.75,77.51,71.63
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,89.71,93.39,91.55
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,64.75,78.19,71.47
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,90.63,92.74,91.68
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,63.32,78.81,71.06
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,63.85,78.28,71.06
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,91.68,92.20,91.94
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,64.07,77.74,70.90
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,89.89,92.62,91.26
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,90.21,92.91,91.56
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,90.93,93.25,92.09
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,90.28,93.44,91.86

In [97]:
reset_reorg2 = reset_reorg.sort_values("% Overall Passing Rate",ascending = False)
reset_reorg2.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,90.93,93.25,92.09
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,91.68,92.20,91.94
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,90.28,93.44,91.86
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,89.56,93.86,91.71
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,90.63,92.74,91.68

In [99]:
top5schools = reset_reorg2.set_index("School Name").head(5)
top5schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,90.93,93.25,92.09
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,91.68,92.20,91.94
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,90.28,93.44,91.86
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,89.56,93.86,91.71
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,90.63,92.74,91.68

In [100]:
reset_reorg3 = reset_reorg.sort_values("% Overall Passing Rate")
reset_reorg3.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,64.07,77.74,70.90
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,63.32,78.81,71.06
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,63.85,78.28,71.06
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,63.75,78.43,71.09
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,64.75,78.19,71.47

In [101]:
bottom5schools = reset_reorg3.set_index("School Name").head(5)
bottom5schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,64.07,77.74,70.90
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,63.32,78.81,71.06
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,63.85,78.28,71.06
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,63.75,78.43,71.09
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,64.75,78.19,71.47

In [103]:
avgscores = students_df.groupby(['School Name','grade'],as_index=False)
avgscores.mean()
avgmath_grp = avgscores["math_score"].mean()
avgmath_grp
avgmath_table =avgmath_grp.pivot('School Name','grade')
avgmath_table

                      math_score
grade                       10th       11th       12th        9th
School Name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [104]:
avgmath_table[avgmath_table.columns.set_levels(['9th', '10th','11th', '12th'], level=1)]

                      math_score
grade                        9th       10th       11th       12th
School Name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [105]:
avgread_grp = avgscores["reading_score"].mean()
avgread_grp
avgread_table =avgread_grp.pivot('School Name','grade')
avgread_table

                      reading_score
grade                          10th       11th       12th        9th
School Name
Bailey High School        80.907183  80.945643  80.912451  81.303155
Cabrera High School       84.253219  83.788382  84.287958  83.676136
Figueroa High School      81.408912  80.640339  81.384863  81.198598
Ford High School          81.262712  80.403642  80.662338  80.632653
Griffin High School       83.706897  84.288089  84.013699  83.369193
Hernandez High School     80.660147  81.396140  80.857143  80.866860
Holden High School        83.324561  83.815534  84.698795  83.677165
Huang High School         81.512386  81.417476  80.305983  81.290284
Johnson High School       80.773431  80.616027  81.227564  81.260714
Pena High School          83.612000  84.335938  84.591160  83.807273
Rodriguez High School     80.629808  80.864811  80.376426  80.993127
Shelton High School       83.441964  84.373786  82.781671  84.122642
Thomas High School        84.254157  83.585542  83.831361  83.728850
Wilson High School        84.021452  83.764608  84.317673  83.939778
Wright High School        83.812757  84.156322  84.073171  83.833333

In [106]:
avgread_table[avgread_table.columns.set_levels(['9th', '10th','11th', '12th'], level=1)]

                      reading_score
grade                           9th       10th       11th       12th
School Name
Bailey High School        81.303155  80.907183  80.945643  80.912451
Cabrera High School       83.676136  84.253219  83.788382  84.287958
Figueroa High School      81.198598  81.408912  80.640339  81.384863
Ford High School          80.632653  81.262712  80.403642  80.662338
Griffin High School       83.369193  83.706897  84.288089  84.013699
Hernandez High School     80.866860  80.660147  81.396140  80.857143
Holden High School        83.677165  83.324561  83.815534  84.698795
Huang High School         81.290284  81.512386  81.417476  80.305983
Johnson High School       81.260714  80.773431  80.616027  81.227564
Pena High School          83.807273  83.612000  84.335938  84.591160
Rodriguez High School     80.993127  80.629808  80.864811  80.376426
Shelton High School       84.122642  83.441964  84.373786  82.781671
Thomas High School        83.728850  84.254157  83.585542  83.831361
Wilson High School        83.939778  84.021452  83.764608  84.317673
Wright High School        83.833333  83.812757  84.156322  84.073171

In [107]:
reorg_schoolsummary["Per Student Budget"].min()

578.0

In [108]:
reorg_schoolsummary["Per Student Budget"].max()

655.0

In [109]:
# Create bins in which to place values based upon TED Talk views
bins = [575,585,615,645,675]

# Create labels for these bins
group_labels = ["<$585", "$585-$615", "$615-$645", "$645-$675"]

perStudent_series = pd.cut(reorg_schoolsummary["Per Student Budget"], bins, labels=group_labels)
perStudent_series

School Name
Huang High School        $645-$675
Figueroa High School     $615-$645
Shelton High School      $585-$615
Hernandez High School    $645-$675
Griffin High School      $615-$645
Wilson High School           <$585
Cabrera High School          <$585
Bailey High School       $615-$645
Holden High School           <$585
Pena High School         $585-$615
Wright High School           <$585
Rodriguez High School    $615-$645
Johnson High School      $645-$675
Ford High School         $615-$645
Thomas High School       $615-$645
Name: Per Student Budget, dtype: category
Categories (4, object): [<$585 < $585-$615 < $615-$645 < $645-$675]

In [111]:
reorg_schoolsummary2 = reorg_schoolsummary
reorg_schoolsummary2["Spending ranges (Per Student)"] = perStudent_series
reorg_schoolsummary2

C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending ranges (Per Student)
School Name,,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,63.32,78.81,71.06,$645-$675
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,63.75,78.43,71.09,$615-$645
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,89.89,92.62,91.26,$585-$615
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,64.75,78.19,71.47,$645-$675
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,89.71,93.39,91.55,$615-$645
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,90.93,93.25,92.09,<$585
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,89.56,93.86,91.71,<$585
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,64.63,79.30,71.96,$615-$645
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,90.63,92.74,91.68,<$585
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,91.68,92.20,91.94,$585-$615
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,90.28,93.44,91.86,<$585
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,64.07,77.74,70.90,$615-$645
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,63.85,78.28,71.06,$645-$675
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,65.75,77.51,71.63,$615-$645
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,90.21,92.91,91.56,$615-$645

In [112]:
perStudent_grp = reorg_schoolsummary2.groupby("Spending ranges (Per Student)")
#perStudent_grp.mean()
perStudent_grp["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending ranges (Per Student),,,,,
<$585,83.455399,83.933814,90.350000,93.322500,91.835000
$585-$615,83.599686,83.885211,90.785000,92.410000,91.600000
$615-$645,79.079225,81.891436,73.020000,83.213333,78.115000
$645-$675,76.997210,81.027843,63.973333,78.426667,71.196667

In [113]:
reorg_schoolsummary["Total Students"].min()

427

In [114]:
reorg_schoolsummary["Total Students"].max()

4976

In [115]:
# Create bins in which to place values based upon TED Talk views
bins1 = [425,1000,2000,5000]

# Create labels for these bins
group_labels1 = ["Small(<1000)", "Medium(1000-2000)", "Large(2000-5000)"]

schoolsize_series = pd.cut(reorg_schoolsummary["Total Students"], bins1, labels=group_labels1)
schoolsize_series

School Name
Huang High School         Large(2000-5000)
Figueroa High School      Large(2000-5000)
Shelton High School      Medium(1000-2000)
Hernandez High School     Large(2000-5000)
Griffin High School      Medium(1000-2000)
Wilson High School        Large(2000-5000)
Cabrera High School      Medium(1000-2000)
Bailey High School        Large(2000-5000)
Holden High School            Small(<1000)
Pena High School              Small(<1000)
Wright High School       Medium(1000-2000)
Rodriguez High School     Large(2000-5000)
Johnson High School       Large(2000-5000)
Ford High School          Large(2000-5000)
Thomas High School       Medium(1000-2000)
Name: Total Students, dtype: category
Categories (3, object): [Small(<1000) < Medium(1000-2000) < Large(2000-5000)]

In [116]:
reorg_schoolsummary3 = reorg_schoolsummary
reorg_schoolsummary3["School Size"] = schoolsize_series
reorg_schoolsummary3

C:\Users\mywor\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Spending ranges (Per Student),School Size
School Name,,,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,63.32,78.81,71.06,$645-$675,Large(2000-5000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,63.75,78.43,71.09,$615-$645,Large(2000-5000)
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,89.89,92.62,91.26,$585-$615,Medium(1000-2000)
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,64.75,78.19,71.47,$645-$675,Large(2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,89.71,93.39,91.55,$615-$645,Medium(1000-2000)
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,90.93,93.25,92.09,<$585,Large(2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,89.56,93.86,91.71,<$585,Medium(1000-2000)
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,64.63,79.30,71.96,$615-$645,Large(2000-5000)
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,90.63,92.74,91.68,<$585,Small(<1000)
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,91.68,92.20,91.94,$585-$615,Small(<1000)
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,90.28,93.44,91.86,<$585,Medium(1000-2000)
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,64.07,77.74,70.90,$615-$645,Large(2000-5000)
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,63.85,78.28,71.06,$645-$675,Large(2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,65.75,77.51,71.63,$615-$645,Large(2000-5000)
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,90.21,92.91,91.56,$615-$645,Medium(1000-2000)

In [117]:
schoolsize_grp = reorg_schoolsummary3.groupby("School Size")
#perStudent_grp.mean()
schoolsize_grp["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small(<1000),83.821598,83.929843,91.15500,92.47000,91.8100
Medium(1000-2000),83.374684,83.864438,89.93000,93.24400,91.5880
Large(2000-5000),77.746417,81.344493,67.63125,80.18875,73.9075

In [118]:
schooltype_grp = reorg_schoolsummary.groupby("School Type")
schooltype_grp["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,90.361250,93.051250,91.70625
District,76.956733,80.966636,64.302857,78.322857,71.31000